body {
    margin: 0px;
    padding: 0px;
}

ul {
    text-decoration: none;
}

li {
    list-style-type: none;
}


/* ----------------------Navigation---------------------------*/


.social-icons > a > img {
    width: 37px;
    padding-left: 7px;
}

.social-icons {
    float: right;
    margin-right: 10px;
}

.logo {
    width: 188px;
    float: left;
    margin-left: 53px;
    margin-top: -2px;
    padding-bottom: 4px;

}

header {
    width: 100%;
    background-color: white;
    position: fixed;
    padding-top: 4px;
    padding-bottom: 4px;
    box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.22);
    z-index: 15;
    transition: 0.3s ease;
    top: 0px;
    left: 0px;
}

.mobile {
    display: none;
}

.nav-item {
    display: inline-block;
    float: left;
}

.nav-item > a > button {
    background-color: transparent;
    color: #707070;
    border: none;
    margin-left: 44px;
    margin-top: -1px;

    border-radius: 90px;
    transition: 0.3s ease;
    width: 104px;
    height: 39px;

}

.nav-item > a > button:hover {
    background-color: lightgray;
    cursor: pointer;
}

.nav-item > a > button:focus {
    color: #095AA5;
    outline: none;
}

.donate-btn {
    float: right;
    width: 148px;
    height: 39px;
    border-radius: 90px;
    border: none;
    background-color: #095AA5;
    color: white;
    transition: 0.5s ease;
    margin-right: 68px;
    margin-top: -2px;
}

.donate-btn:hover {
    background-color: white;
    color: #095AA5;
    border: solid;
    border-width: 1.5px;
    border-color: #095AA5;
    cursor: pointer;
}

.menu {
    border: none;
    background-color: transparent;
    position: fixed;
    right: 24px;
    top: 26px;
    z-index: 50;
}

.menu:focus {
    outline: none;
}

.close {
    border: none;
    background-color: transparent;
    display: none;
    z-index: 50;
    position: fixed;
    right: 24px;
    top: 26px;
}

.close:focus {
    outline: none;
}

.close-base {
    display: none;
}





/* ------------------------Slide Show----------------------*/

#slideshow {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 27px;
}

#slideshow > div > img {
    position: absolute;
    left: 0px;
    top: 0px;
}

#slideshow > div > img {
    width: 100%;
    object-fit: cover;
    height: 580px;
    filter: brightness(0.75)
}

.slide-text > h2 {
    position: absolute;

    z-index: 12;

    font-size: 48px;
    font-weight: normal;
    font-family: roboto, sans-serif;
    color: white;
    font-weight: 450;
    text-align: center;
    ;
    width: 656px;
    margin-top: -18px
}

.slide-text > p {
    position: absolute;
    z-index: 5;

    font-size: 35px;
    color: white;
    font-family: roboto, sans-serif;
    text-align: center;
    margin-top: 45px;
    width: 664px;

}

.slide-text {
    margin: auto;
    width: 656px;
    margin-top: 243px;

}

/* -------------------------Info Section----------------------*/

.info-section {
    display: none;
    width: 100%;
    margin-top: 597px;
}

.info-section {
    height: 45vh;

}

.sect-wrapper {
    margin: auto;
    width: 1332px;
}

.icons {
    color: #095AA5
}

.section {
    display: inline-block;
    width: 245px;
    margin-left: 129px;
    font-family: roboto, sans-serif;
    margin-top: 140px;
}

.section > i {
    float: left;
    margin-top: 19px;
}


.section > h3 {
    float: left;
    margin-left: 13px;
    margin-bottom: 0px;
    font-weight: normal;
    color: #095AA5
}

.section > p {
    float: right;
    height: 73px;
    color: #A3A3A3;
}

.exc {
    width: 432px;
}



/* -------------------------Media Queries---------------------*/

@media screen and (max-width:1500px) {
    .social-icons {
        position: fixed;
        left: 24px;
        bottom: 25px;
        background-color: #095AA5;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 7px;
        border-radius: 36px;
    }
}

@media screen and (max-width:1350px) {
    nav {
        display: none;
    }

    .donate-btn {
        position: fixed;
        width: 100%;
        left: 0px;
        border-radius: 0px;
        top: 77px;
        z-index: 0;
    }

    .mobile {
        display: block;


    }

    .logo {

        float: none;
        width: 157px;
        padding-bottom: 50px;

    }

    .close-base {
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: transparent;
        top: 0px;
        left: 0px;
        z-index: 15;
        border: none;
        display: none;
    }


    .logo-wrapper {
        margin: auto;
        width: 262px;
    }

    nav {
        width: 184px;
        display: none;
        position: fixed;
        right: 0px;
        background-color: white;
        top: 0px;
        z-index: 20;
        height: 100%;
        box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.22);
    }

    .nav-item {
        float: none;
        border-bottom: solid;
        border-width: 1.3px;
        padding-bottom: 7px;
        border-color: lightgray;
        width: 100%;
        margin: auto;
        width: 184px;
    }

    nav > ul {
        margin-top: 54px;
        padding-left: 0px;
    }

    .nav-item > a > button {
        margin: 0px;
        padding: 0px;
        margin-top: 14px;
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width:1000px) {
    #slideshow > div > img {
        height: 423px;
    }

    .slide-text > h2 {
        font-size: 32px;
        width: 475px
    }

    .slide-text > p {
        font-size: 20px;
        width: 475px;
        margin-top: 19px;
    }

    .slide-text {
        width: 475px;
        margin-top: 212px
    }
}

@media screen and (max-width:502px) {
    #slideshow > div > img {
        height: 285px;
        width: 100%;
    }



    .slide-text {
        width: 270px;
        margin-top: 125px;
    }

    .slide-text > p {
        width: 270px;
        font-size: 17px;
    }

    .slide-text > h2 {
        width: 270px;
    }


}
