body {
    margin: 0px;
    padding: 0px;
}

ul {
    text-decoration: none;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #095AA5;
}

/* ----------------------Navigation---------------------------*/


.social-icons > a > img {
    width: 37px;
    padding-left: 7px;
}

.social-icons {
    float: right;
    margin-right: 10px;
}

.logo {
    width: 188px;
    float: left;
    margin-left: 53px;
    margin-top: -2px;
    padding-bottom: 4px;

}

header {
    width: 100%;
    background-color: white;
    position: fixed;
    padding-top: 4px;
    padding-bottom: 4px;
    box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.22);
    z-index: 15;
    transition: 0.3s ease;
    top: 0px;
    left: 0px;
}

.mobile {
    display: none;
}

.nav-item {
    display: inline-block;
    float: left;
}

.nav-item > a > button {
    background-color: transparent;
    color: #707070;
    border: none;
    margin-left: 44px;
    margin-top: -1px;

    border-radius: 90px;
    transition: 0.3s ease;
    width: 104px;
    height: 39px;
font-size: 13px;
}

.nav-item > a > button:hover {
    background-color: lightgray;
    cursor: pointer;
}

.nav-item > a > button:focus {
    color: #095AA5;
    outline: none;
}

.donate-btn {
    float: right;
    width: 148px;
    height: 39px;
    border-radius: 90px;
    border: none;
    background-color: #095AA5;
    color: white;
    transition: 0.5s linear;
    margin-right: 68px;
    margin-top: -2px;
	font-size: 13px;
}

.donate-btn:focus {outline: none;}

.donate-btn:hover {
    background-color: white;
    color: #095AA5;
    border: solid;
    border-width: 1.5px;
    border-color: #095AA5;
    cursor: pointer;
}

.menu {
    border: none;
    background-color: transparent;
    position: fixed;
    right: 24px;
    top: 26px;
    z-index: 50;
}

.menu:focus {
    outline: none;
}

.close {
    border: none;
    background-color: transparent;
    display: none;
    z-index: 50;
    position: fixed;
    right: 24px;
    top: 26px;
}

.close:focus {
    outline: none;
}

.close-base {
    display: none;
}





/* ------------------------Slide Show----------------------*/

#slideshow {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 27px;
}

#slideshow > div > img {
    position: absolute;
    left: 0px;
    top: 0px;
}

#slideshow > div > img {
    width: 100%;
    object-fit: cover;
    height: 580px;
    filter: brightness(0.75)
}

.slide-text > h2 {
    position: absolute;

    z-index: 12;

    font-size: 48px;
    font-weight: lighter;
    font-family: roboto, sans-serif;
    color: white;
    font-weight: 450;
    text-align: center;
    ;
    
    margin-top: -18px;
	width: 904px;
}

.slide-text > p {
    position: absolute;
    z-index: 5;

    font-size: 35px;
    color: white;
    font-family: roboto, sans-serif;
    text-align: center;
    margin-top: 45px;
    width: 904px;
font-weight: lighter;
	
}

.slide-text {
    margin: auto;
    width: 904px;
    margin-top: 243px;

}

/* -------------------------Info Section----------------------*/



.info-section {

    width: 100%;
    margin-top: 597px;
}

.info-section {
    height: 412px;


}

.sect-wrapper {
    margin: auto;
    width: 1400px;
}

.icons {
    color: #095AA5
}

.section {
    display: inline-block;
    width: 245px;
    margin-left: 129px;
    font-family: roboto, sans-serif;
    margin-top: 140px;
    transition: 0.3s ease;
}

.section > i {
    float: left;
    margin-top: 19px;
}


.section > h3 {
    float: left;
    margin-left: 13px;
    margin-bottom: 0px;
    font-weight: normal;
    color: #095AA5;
	font-weight: lighter;
}

.section > p {
    float: right;
    height: 73px;
    color: #A3A3A3;
    line-height: 24px;
	font-size: 14px;
	font-weight: lighter;
}

.exc {
    width: 432px;
}









/* -------------------------Goal Section----------------------*/



.goal-section {
    background-image: url(Images/Our%20Goal.jpg);

    height: 425px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 217px;
    margin-top: 10px;
    position: absolute;
    width: 100%;
}

.goal-text {


    margin: auto;
    width: 648px;
    margin-top: 74px;

}

.goal-text > h3 {
    font-size: 48px;
    font-family: roboto, sans-serif;
    color: white;
    font-weight: normal;
    margin-bottom: -19px;
    margin-top: 10px;

}

.goal-text > p {
    font-size: 24px;
    font-family: roboto, sans-serif;
    width: 879px;
    color: white;
	font-weight: lighter;
}








/*-----------------------Footer---------------------------*/

footer {
    background-color: #EEEEEE;

    width: 100%;
    margin-top: 554px;
    position: relative;
    padding-bottom: 0px;

}

footer > h3 {
    text-align: center;
    color: #707070;
    font-family: roboto, sans-serif;
    font-weight: normal;
    font-size: 15px;
    padding-right: 50px;
    padding-top: 41px;
    padding-left: 50px;
    padding-bottom: 41px;
    margin: 0px;

}






/* -------------------------Media Queries---------------------*/

@media screen and (max-width:1500px) {
    .social-icons {
        position: fixed;
        left: 24px;
        bottom: 25px;
        background-color: white;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 7px;
        border-radius: 36px;
        box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.22);
        z-index: 50;
    }

    footer {
        margin-bottom: 50px;
    }
}

@media screen and (max-width:1450px) {
    .section {
        margin-left: 72px;
    }

    .exc2 {
        margin-left: 0px;
    }

    .sect-wrapper {
        width: 1076px;
    }


}


@media screen and (max-width:1350px) {
    nav {
        display: none;
    }

    .donate-btn {
        position: absolute;
        width: 100%;
        left: 0px;
        border-radius: 0px;
        top: 77px;
        z-index: 50;
    }

    .mobile {
        display: block;


    }

    .logo {

        float: none;
        width: 157px;
        padding-bottom: 50px;

    }

    .close-base {
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: transparent;
        top: 0px;
        left: 0px;
        z-index: 15;
        border: none;
        display: none;
    }


    .logo-wrapper {
        margin: auto;
        width: 262px;
        position: relative;
        z-index: 50;
    }

    .goal-section {
        background-image: url(Images/Goal%20Minified.jpg);
    }

    nav {
        width: 100%;
        ;
        display: none;
        position: fixed;
        right: 0px;
        background-color: white;
        top: 0px;
        z-index: 20;
        height: 102%;
        box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.22);
    }

    .nav-item {
        float: none;
        border-bottom: solid;
        border-width: 1.3px;
        padding-bottom: 7px;
        border-color: lightgray;
        width: 100%;
        margin: auto;
        width: 184px;
    }

    .exc3 {
        border: none;
    }

    nav > ul {

        padding-left: 0px;
        margin: auto;
        width: 181px;
        margin-top: 110px;
    }

    .nav-item > a > button {
        margin: 0px;
        padding: 0px;
        margin-top: 14px;
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width:1200px) {
    .sect-wrapper {
        width: 541px;
    }

    .section {
        width: 399px;
        margin-top: 23px;
		
    }

    .exc2 {
        margin-left: 72px;
        margin-top: 50px;
		margin-bottom: -30px;
    }

    .goal-section {
        margin-top: 185px;
        background-position: -144px;
        background-color: #00539C;
        margin-bottom: 0px;
    }

    .goal-text {
        width: 498px;
    }

    .goal-text > h3 {
        font-size: 45px;
    }

    .goal-text > p {
        width: 500px;
        font-size: 20px;
    }

    footer {
        margin-top: 766px;
    }
}


@media screen and (max-width:1000px) {
    #slideshow > div > img {
        height: 423px;
    }

    footer {
        margin-top: 605px;
        margin-bottom: 52px;
    }

    .slide-text > h2 {
        font-size: 32px;
        width: 475px
    }

    .slide-text > p {
        font-size: 20px;
        width: 475px;
        margin-top: 19px;
    }

    .slide-text {
        width: 475px;
        margin-top: 212px
    }

    .exc2 {
        margin-top: -103px;
    }

    .goal-section {
        margin-top: 45px;
    }
}

@media screen and (max-width:502px) {
    #slideshow > div > img {
        height: 330px;
        width: 100%;
    }

    footer {
        margin-top: 823px;
        margin-bottom: 50px;
    }

    .goal-section {
        margin-top: 74px;
        background-position: -275px;

    }

    .goal-text {
        width: 314px;
        margin-top: 367px;

    }

    .goal-text > p {
        width: 329px;
        font-size: 17px;
        color: #707070;
    }

    .goal-text > h3 {
        font-size: 36px;
        margin-bottom: 29px;
    }

    .slide-text {
        width: 270px;
        margin-top: 152px;
    }

    .slide-text > p {
        width: 270px;
        font-size: 17px;
    }

    .slide-text > h2 {
        width: 270px;
    }

    .info-section {
        margin-top: 659px;
    }

    .sect-wrapper {
        width: 336px;
        margin-top: -286px;
    }

    .section {
        width: 336px;
        margin-left: 0px;
        margin-top: -29px;
    }

    .exc2 {
        margin-left: 0px;
        margin-top: 0px;
    }

    .exc {
        margin-top: -2px;
    }

    .section > h3 {
        font-size: 17px;
        margin-top: 20px;
    }


}
